{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestioncommande list</h1>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Idcommande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestioncommande in gestioncommandes %}
            <tr>
                <td><a href="{{ path('gestioncommande_show', { 'id': gestioncommande.idcommande }) }}">{{ gestioncommande.date|date('d/m/Y') }}</a></td>
                <td>{{ gestioncommande.idcommande }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gestioncommande_show', { 'id': gestioncommande.idcommande }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gestioncommande_edit', { 'id': gestioncommande.idcommande }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gestioncommande_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
