<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Expeditor{% endblock %}</title>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% block javascripts %}
        {% endblock %}
        <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{asset('bundles/framework/css/bootstrap.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{asset('bundles/framework/css/bootstrap-theme.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{asset('bundles/framework/css/font-awesome.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{asset('bundles/framework/css/style-general.css')}}" media="screen">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <style>
                .flash-messages .alert{position:absolute;}
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="flash-messages">
            {% block flashes %}
                {% for notice_level, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-dismissible {% if notice_level == 'erreur' %}  alert-danger {% endif %}">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <strong>{{ notice_level }}</strong> {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock flashes %}
        </div>
        <div class="container-fluid display-table">
            <div class="row display-table-row">
            {% block menu %}{% endblock %}         
            {% block body %}{% endblock %}
            </div>
        </div>
            {% if app.request.get('_route') != "homepage" %}
        <script type="text/javascript">
            var idleTime = 0;
            $(document).ready(function () {
                //Increment the idle time counter every minute.
                var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

                //Zero the idle timer on mouse movement.
                $(this).mousemove(function (e) {
                    idleTime = 0;
                });
                $(this).keypress(function (e) {
                    idleTime = 0;
                });
            });

            function timerIncrement() {
                idleTime = idleTime + 1;
                if (idleTime == 5) { // 5 minutes
                    window.location.href = "{{ path('seDeconnecter') }}";
                }
            }
        </script>
            {% endif %}
    </body>
</html>
