{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class='col-sm-1'>
        </div>
        <div class='col-sm-10'>
            <div class='well well-sm' style="box-shadow: 2px 2px 5px #656565; margin-top: 3px;">
                <h4>Modifier un employé</h4>
            </div>
        </div>
        <div class='col-sm-1'>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    
                    {{form_start(form_edit, { 'attr': {'class': 'form-horizontal'} })}}

                    <div class="form-group">
                        <div class='col-sm-1'></div>
                            <label class="control-label col-sm-4" for="nom">{{ form_label(form_edit.nom) }}</label>
                            <div class="col-sm-6">
                                {{ form_widget(form_edit.nom) }}
                            </div>
                    </div>  
                            
                    <div class="form-group">
                        <div class='col-sm-1'></div>
                            <label class="control-label col-sm-4" for="nom">{{ form_label(form_edit.motdepasse) }}</label>
                            <div class="col-sm-6">
                                {{ form_widget(form_edit.motdepasse) }}
                            </div>
                     </div>  
                            
                    <div class="form-group">
                        <div class='col-sm-1'></div>
                            <label class="control-label col-sm-6" for="nom">{{ form_label(form_edit.statut) }}</label>
                            <div class="col-sm-4">
                                {{ form_widget(form_edit.statut) }}
                            </div>
                     </div>
                        
                    <center>
                         <a href="{{ path('employe_index') }}" class='btn btn-primary' style='margin-right: 25px;'>< Retour</a><input class='btn btn-success' type="submit" value="Créer" />
                    </center> 
                    
                    {{ form_end(form_edit) }}
    
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
