{% extends 'base.html.twig' %}

{% block title %}{{parent()}}- Employés{% endblock %}

{% block body %}
    <div class="row">
        <div class='col-sm-1'>
        </div>
        <div class='col-sm-10'>
            <div class='well well-sm well-title'>
                <h4>Créer un employé</h4>
            </div>
        </div>
        <div class='col-sm-1'>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="well well-sm">
                    
                    {{form_start(form, { 'attr': {'class': 'form-horizontal'} })}}

                    <div class="form-group">
                        <div class='col-sm-1'></div>
                            <label class="control-label col-sm-4" for="nom">{{ form_label(form.nom) }}</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.nom) }}
                            </div>
                    </div>  
                            
                    <div class="form-group">
                        <div class='col-sm-1'></div>
                            <label class="control-label col-sm-4" for="motdepasse">{{ form_label(form.motdepasse) }}</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.motdepasse) }}
                            </div>
                     </div>  
                            
                    <div class="form-group">
                        <div class='col-sm-1'></div>
                            <label class="control-label col-sm-4" for="statut">Statut de l'employé : *</label>
                            <div class="col-sm-6">
                                {{ form_widget(form.statut) }}
                            </div>
                     </div>
                        
                    <center>
                         <a href="{{ path('employe_index') }}" class='btn btn-primary' style='margin-right: 25px;'><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</a><input class='btn btn-success' type="submit" value="Créer" />
                    </center> 
                    
                    {{ form_end(form) }}
    
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
