
<style type="text/css">
    <!--
    table
    {
        width:  100%;
        border:none;
        border-collapse: collapse;
    }
    th
    {
        text-align: center;
        border: solid 1px #eee;
        background: #f8f8f8;
    }
    td
    {
        text-align: center;


    }
    .dataTable td{
        padding:10px 5px;
        background-color:#efefef;
    }
    .dataTable th{
        padding:10px 5px;
    }
    -->
</style>
<page style="font-size: 12pt"  backimgy="bottom">
    <table cellspacing="0" style="width: 100%; text-align: center; font-size: 14px">
        <tr>
            <td style="width: 25%; color: #444444;">
                <br><br>
                Expéditor
                <br>
                6 rue Nationnale
                <br>
                44000 Nantes
            </td>
            <td style="width: 75%;">
                <table cellspacing="0" style="width: 100%; text-align: left; font-size: 11pt;">
                    <tr>
                        <td style="width:50%;"></td>
                        <td style="width:14%;text-align:left; ">Client</td>
                        <td style="width:36%">{{ client.nom }}</td>
                    </tr>
                    <tr>
                        <td style="width:50%;"></td>
                        <td style="width:14%;text-align:left; ">Adresse</td>
                        <td style="width:36%">
                            {{ client.adresse }}<br>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:50%;"></td>
                        <td style="width:14%;text-align:left; ">Tel</td>
                        <td style="width:36%">33 (0) 1 00 00 00 00</td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>
    <br>
    <br>
    <table cellspacing="0" style="width: 100%; text-align: left;font-size: 10pt">
        <tr>
            <td style="width:50%;"></td>
            <td style="width:50%;">Nantes, le 24/06/2016</td>
        </tr>
    </table>
    <br>
    <i>
        <b><u>Objet </u>: &laquo; Bon de livraison &raquo;</b><br><br>
        Compte client : {{ client.idclient }}<br>
        Référence du Dossier : {{ commande.idcommande }}<br>
    </i>
    <br>
    <br>
    Madame, Monsieur, <br>
    <br>
    <br>
    Voici votre commande: <br />
    <br>
    <table class="dataTable" cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
        <tr>
            <th style="width: 20%">Article</th>
            <th style="width: 20%">Qte Commandé</th>
            <th style="width: 20%">Qte Livrée</th>
            <th style="width: 20%">Qte Reste à livrée</th>
            <th style="width: 20%">Observation</th>
        </tr>
    </table>
    <table class="dataTable" cellspacing="0" style="width: 100%; border: solid 1px black; background: #E7E7E7; text-align: center; font-size: 10pt;">
        {% for ligne in lignes %}
        <tr>
            <td style="width: 20%">{{ ligne.idarticle.nom }}</td>
            <td style="width: 20%; text-align:right;">{{ ligne.quantite }}</td>
            <td style="width: 20%; text-align:right;">{{ ligne.quantite }}</td>
            <td style="width: 20%; text-align:right;">0</td>
            <td style="width: 20%; text-align:right;"></td>
        </tr>
        {% endfor %}
        <tr>
            <th style="width: 20%;"></th>
            <th style="width: 20%;"></th>
            <th style="width: 20%;"></th>
            <th style="width: 20%; text-align:right;">Total</th>
            <th style="width: 20%; text-align:right;">{{ poids }} grammes</th>
        </tr>
    </table> 
</page>
<br /><br /><br /><br /><br />
A bientôt,
<br /><br /><br /><br />
Expeditor Company.